nav{
    padding: 14px 0;
    background-color: var(--primary-color);
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-button{
    padding: 0.2rem 0.5rem;
    border: none;
    background-color: var(--green-color);
    color: var(--white-color);
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.cart-button .total-items{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 1;
    background-color: black;
    border-radius: 50%;
    color: var(--white-color);
    display: grid;
    place-items: center;
}

nav .cart-button:hover{
    background-color: black;
}

nav .right-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}