.header{
    padding: 120px 0;
    background-color: var(--green-color);
    background-image: url('/public/images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.header input{
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    width: 100%;
}

.header input:focus{
    border-color: var(--green-color);
    outline-color: var(--green-color);
}